{
    "proxy": {
        "server": "xxxx:xxxx",
        "username": "xxxx-{COUNTRY}-xxxx-{SESSION}",
        "password": "xxxx-{COUNTRY}-xxxx-{SESSION}",
        "enabled": true
    },

    "forceSession": null,
    "startUrl": null,

    "viewport": {
        "width": 1920,
        "height": 1080
    },

    "overrides": [
        {
            "regex": "^.+\.js$",
            "file": "everything.js",
            "enabled": false
        }
    ],

    "blocks": [
        {
            "regex": "^.+\.mp4$",
            "enabled": false
        }
    ],

    "devtools": false
}
